{% extends "base.html" %}s
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<h1>Weather n Cats!!!</h1>

<form method="POST" action="{% url 'cats_n_weather' %}">
  {% csrf_token %}
  <label for="city">Enter City:</label>
  <input type="text" id="city" name="city">
  <button type="submit">Search</button>
</form>

{% if city %}
  <img class="weather-cat-gif" src="https://cataas.com/cat/gif/says/{{ city|capfirst }} {{ temp }}" alt="Weather Icon">
{% endif %}

{% if message %}
  <p class="message">{{ message }}</p>
{% endif %}

{% endblock content %}